<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated privacy_extension -->
      <package
            uri="https://github.com/research-iobserve/mobile"
            class="privacy_ext.Privacy_extPackage"
            genModel="model/privacy_extension.genmodel"/>
   </extension>

</plugin>
